
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
@import "resets/normalize.css";

* {
    font-family: 'Ubuntu', sans-serif;
       -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
               box-sizing: border-box;
}

/* container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
    @media (min-width: 1170px) {
        .container {
            width: 1170px;
            padding: 0;
        }
    }

/* row */
.row {
    margin-left:  -5px;
    margin-right: -5px;
}
    .row::before,
    .row::after {
        content: "";
        display: table;
    }
    .row::after {
        clear: both;
    }

/* columns */
.col {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding: 0 5px;
    border: 1px dashed black;
    margin-right: -4px; /* adjust default margin added of inline-block */
    *zoom: 1;
    *display: inline;
}

    @media (min-width: 480px) {
        .col-2 {
            width: 50%;
        }
    }
    @media (min-width: 728px) {
        .col-3 {
            width: 33.3333%;
        }
    }

body {
    background: linear-gradient(0deg, rgba(220,211,190,1) 0%, rgba(255,255,255,1) 100%);
}

#lg-top-card {
    margin-top: 2%;
}

footer {
    background-color: #272727;
    color: white;
}


.comunicado img, h1 {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 1% 0.3% 0% 0.3%;
    font-size: 2em;
    color: #C6BAA0;
}

.dot-divider {
    background-image: url('../img/dot-divider.png');
    background-repeat: repeat-x;
    background-size: 0.55em;
    height: 0.8em;
    background-position: center;
    width: 38%;
    margin: 0 auto;
}

.dot-divider-2 {
    width: 87%;
    margin: 1% auto;
}

.card-l {
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 1.2em;
    border-right: 0.5em #dbdbdb solid;
    border-bottom: 0.5em #dbdbdb solid;
    margin: 3% 5% 3% 35%;
    padding: 1%;
}
.card-r{
    margin: 3% 35% 3% 5%;  
    padding: 1% 1% 4.2% 1%;
}

/* .ttl-icon {
    
} */
